@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

header {
  font-size: 100px;
  background-color: rgba(255, 165, 0, 0.65);
  padding:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#add-book-icon {
  height: 75px;
  cursor: pointer;
}

#popup {
  position: fixed;
  background-color: orange;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1000;
  font-size: 20px;
  font-family: 'Ubuntu', sand-serif;
  border-radius: 5px;
  visibility: hidden;
}

#popup.active {
  transition: 0.2s ease-out;
  top: 50%;
  visibility: visible;
}

#container.active {
  pointer-events: none;
  user-select: none;
}

#close-button {
  float: right;
  cursor: pointer;
}

#popup label {
  display: block;
  margin-top: 20px;
  margin-bottom: 7px;
}

#popup input[type="text"] {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  font-size: 25px;
}

#popup input[type="text"]:focus {
  outline: none;
}

#finished-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#finished-box {
  transform: scale(2);
  margin-top: 10px;
  margin-right: 7px;
}

#finished-box:focus {
  outline: none;
}

#popup input[type="submit"] {
  margin-top: 20px;
  float: right;
  padding: 10px;
}

#entries {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.book {
  width: 600px;
  padding: 20px;
  background-color: #f0f1f2;
}

@media (max-width: 640px) {
  .book {
    width: calc(100% - 40px);
  }
}

.book-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 10px;
}

.book-author {
  font-style: oblique;
  padding-bottom: 5px;
}

.pages {
  padding-bottom: 5px;
}

.is-read {
  cursor: pointer;
}

.unread {
  color: red;
}

.read {
  color: green;
}
